In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv(r'C:\Users\Dell\Desktop\Kaggle-Dataset\Campusx\heart.csv')

In [18]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:-1], df.iloc[:,-1], test_size=0.2, random_state=2)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [22]:
clf1 = LogisticRegression()
clf2 = DecisionTreeClassifier()

In [23]:
clf1.fit(X_train, y_train)
clf2.fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

DecisionTreeClassifier()

In [24]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [26]:
print("Accuracy of Logistic Regression",accuracy_score(y_test,y_pred1))
print("Accuracy of Decision Trees",accuracy_score(y_test,y_pred2))

Accuracy of Logistic Regression 0.848780487804878
Accuracy of Decision Trees 0.9804878048780488

In [27]:
confusion_matrix(y_test,y_pred1)

array([[82, 23],
       [ 8, 92]], dtype=int64)

In [29]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,2)))

Logistic Regression Confusion Matrix

    0   1
0  82  23
1   8  92

In [30]:
print("Decision Tree Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,2)))

Decision Tree Confusion Matrix

     0    1
0  101    4
1    0  100

In [31]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Logistic Regression Prediction'] = y_pred1
result['Decision Tree Prediction'] = y_pred2

In [32]:
result.sample(10)

     Actual Label  Logistic Regression Prediction  Decision Tree Prediction
993             0                               0                         0
707             1                               1                         1
529             1                               1                         1
20              0                               1                         0
783             1                               1                         1
893             0                               1                         0
775             1                               1                         1
842             0                               0                         0
511             0                               0                         0
612             0                               0                         0

In [34]:
from sklearn.metrics import recall_score,precision_score,f1_score

In [35]:
print("For Logistic regression Model")
print("-"*50)
cdf = pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,2)))
print(cdf)
print("-"*50)
print("Precision - ",precision_score(y_test,y_pred1))
print("Recall - ",recall_score(y_test,y_pred1))
print("F1 score - ",f1_score(y_test,y_pred1))

For Logistic regression Model
--------------------------------------------------
    0   1
0  82  23
1   8  92
--------------------------------------------------
Precision -  0.8
Recall -  0.92
F1 score -  0.8558139534883721

In [36]:
print("For DT Model")
print("-"*50)
cdf = pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,2)))
print(cdf)
print("-"*50)
print("Precision - ",precision_score(y_test,y_pred2))
print("Recall - ",recall_score(y_test,y_pred2))
print("F1 score - ",f1_score(y_test,y_pred2))

For DT Model
--------------------------------------------------
     0    1
0  101    4
1    0  100
--------------------------------------------------
Precision -  0.9615384615384616
Recall -  1.0
F1 score -  0.9803921568627451

In [37]:
precision_score(y_test,y_pred1,average=None)

array([0.91111111, 0.8       ])

In [38]:
precision_score(y_test,y_pred2,average=None)

array([1.        , 0.96153846])

In [39]:
recall_score(y_test,y_pred2,average=None)

array([0.96190476, 1.        ])