In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Dell\Desktop\Kaggle-Dataset\Campusx\play_tennis.csv')

In [4]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [8]:
df.drop(['day'], inplace=True, axis= 1)

In [9]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [10]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [11]:
# problem 1

# outlook = Sunny , Temp = Hot, Humidity = High, wind = Weak
# Play or No Play

In [12]:
# Salution 


# P(Yes | Sunny, Hot , High,Weak) = (Sunny | Yes) * P(Hot | Yes) * P(High|Yes) * P(Weak | Yes) * P(Yes)

# P(No | Sunny , Hot , High, Weak) = P(Sunny | No) * P(Hot | NO) * P(High | No) * P(Weak | No) * P(No)

#  Compare and decide using the Maximum a posteriori rule

In [13]:
#  Problem 2

#  Outllok = Overcast , Temp=Cold , Humidity=Low, wind=weak
# play yes or no

In [14]:
# Salution 

# P(Yes | Overcost,Cold,Low,Weak)=P(Overcost | Yes) * P(Cold | Yes) * P(Low | Yes) * P(weak | Yes)

# P(No | Overcost,Cold,Low,Weak)=P(Overcost | No) * P(Cold | No) * P(Low | No) * P(weak | No)

# Compare and decide using the Maximuma posteriori rule

In [15]:
# Training

# Lookup Tabe (Dictonary)



# Testing

In [16]:
# P(Yes)
# P(No)

In [17]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [19]:
py = 9/14
pn = 5/14

In [20]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [21]:
# Outlook 

pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [22]:
Pon = 0
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [23]:
# tempraure
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [24]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5


PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [25]:
# Humidity

pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [26]:
PHighNo = 4/5
PNormalNo = 1/5



PHighYes = 3/9
PHighYes = 6/9

In [27]:
# wind
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [29]:
PStrongNo = 3/5
PWeakNo = 2/5


PStrongYes = 3/9
PWeakYes = 6/9

In [31]:
# outlook = Sunny , Temp = Hot, Humidity = High, wind = Weak

Pyes = py*Psy *PHotYes*PHighYes*PWeakYes
print(Pyes)

0.014109347442680775

In [33]:
Pno = pn * Psn  * PHighNo * PHighNo * PWeakNo
print(Pno)

0.05485714285714286

In [34]:
#  No Play
0.014109347442680775 >0.05485714285714286

False